<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Autism Screener</title>
</head>
<body>
    <h1>Autism Screener App </h1>
    <h2>Please answer the questions</h2>
    <ul>
        {% for entry in history %}
            <li><strong>{{ entry[0] }}:</strong> {{ entry[1] }}</li>
        {% endfor %}
    </ul>
    <a href="/start_chat">Start Chat</a>
</body>
</html>
